*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: black;
    height: 4rem;
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    
    color: white;
}
.logo{
    height: 45px;
    width:  45px;
    margin-top: 0.5rem;
    
}
.spotify{
    padding-left: 5px;
}
.home{
    padding-left: 2rem;
    padding-top: 2px;
}
.about{
    padding-left: 2rem;
    padding-top: 2px;
}



.hero-section{
    background-color: white;
    padding: 1rem 7rem 0 13rem;
}
.boxes{
    background-color:  black;
    color: white;
    height: 80rem;
    width: 70rem;
    display: flex;
}

.best{
 font: 1rem sans-serif;
 font-weight: 1000;
 padding-left: 1rem;
 padding-top: 8px;

}
.songlist{
    padding-left: 2rem;
    padding-top: 5px;
    justify-content: space-between;
}









.footer-section{
    height: 8rem;
    width: auto;
    background-color: black;
}
.songlist{
    color: white;
}
.logo2{
    color: white;
}
.icons{
    color: white;
    margin-left: 46rem;
    padding-top: 2rem;
}
